name: CI

on:
  push:
    branches: [main, dev]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Java setup
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '21'
          cache: 'maven'

      - name: Run linter
        run: ./mvnw checkstyle:check

      - name: Run tests
        run: ./mvnw test

      - name: Build
        run: ./mvnw clean package -DskipTests